body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overscroll-behavior: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.flex-outer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.flex-inner {
    writing-mode: vertical-rl;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    border: 1px dashed black;
    display: flex;
    align-items: center;
}

.canv {
    position: relative;
    flex: 1 0 1px;
    padding-block-start: 100%;
}

.canvasbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    writing-mode: horizontal-tb;
}

#citydiv {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    writing-mode: horizontal-tb;
}

.title-text {
    position: absolute;
    font: 2em "Lato", sans-serif;
    color: white;
    padding: 5px;
}

.controls {
    position: absolute;
    font: 1em "Lato", sans-serif;
    color: white;
    padding: 5px;
    bottom: 5px;
}

.attribution {
    position: absolute;
    color: rgb(185, 185, 185);
    font-size: small;
    padding: 5px;
    bottom: 5px;
    right: 5px;
}

.attribution a {
    color: rgb(185, 185, 185);
}

#webglCanvas {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
    border: none;
}

@media (max-aspect-ratio: 1/1) {
    .flex-inner {
        writing-mode: horizontal-tb;
    }
}

.word {
    position: absolute;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial;
    font-size: clamp(10px, 1.6vw, 16px);
    font-weight: 700;
    transform: translate(-50%, -50%);
}

.word.black {
    color: #555;
}

.word.white {
    color: white;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.95);
    paint-order: stroke;
}